# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / IDE settings
.vscode/
.idea/

# İşletim Sistemi dosyaları
.DS_Store
Thumbs.db